.CategoryItem ul {
  display: none; }

.CategoryItem.active ul {
  display: block; }

.CategoryItem__wrapper {
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  cursor: pointer;
  display: flex;
  padding: 5px; }

.CategoryItem__wrapper:hover {
  background-color: #efefef; }

.active > .CategoryItem__wrapper .icon-down-open {
  display: inline; }

.active > .CategoryItem__wrapper {
  border-bottom: 1px solid #cdcdcd; }

.CategoryItem .CategoryItem .CategoryItem__wrapper {
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-top: 0; }

.CategoryItem .CategoryItem:not(:first-child) .CategoryItem__wrapper {
  border-top: 1px solid #cdcdcd; }

.CategoryItem:last-child > .CategoryItem__wrapper,
.CategoryItem:last-child .CategoryItem:last-child .CategoryItem__wrapper {
  border-bottom: 1px solid #cdcdcd; }

.CategoryItem:not(last-child) .CategoryItem:last-child .CategoryItem__wrapper {
  border-bottom: 0; }

.CategoryItem__edit-icon {
  flex-grow: 1; }

.CategoryItem__back-icon {
  display: none;
  transform: rotateX(180deg); }

.CategoryItem__down-icon {
  font-size: 10px;
  line-height: 16px;
  flex-basis: 15px; }

.CategoryItem .icon-down-open {
  display: none; }
