.category-list__item-wrapper {
    border: 1px #cdcdcd solid;
    cursor: pointer;
    display: flex;
    padding: 5px;
}

.category-list__item-wrapper:hover {
    background-color: #efefef;
}

.category-list__item:not(:first-child) .category-list__item-wrapper {
    border-top: 0;
}

.category-list__item__edit-icon {
    flex-grow: 1;
}

.category-list__item__back-icon {
    display: none;
    transform: rotateX(180deg);
}