@import 'common.scss';

.Modal {
  background: #fff;
  border: 1px #aaa solid;
  border-radius: 2px;
  //padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0,0,0,0.75) 0 0 10px 0;

  width: 400px;

  &-title {
    background: $gray-dark;
    border-radius: 2px 2px 0 0;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
  }

  &-content {
    padding: 20px ;
  }

  &-footer {
    padding: 0 20px 20px;
  }

  &-input {
    border: 0;
    border-bottom: 1px solid $secondary;
    color: $gray-dark;
    padding: 5px;
    width: 100%;
  }

  &-btn-ok,
  &-btn-cancel {
    border: 1px solid $secondary;
    border-radius: 2px;
    background: $secondary;
    color: #fff;
    padding: 5px 13px;
  }

  &-btn-cancel {
    background: #fff;
    color: $secondary;
    margin-left: 5px;
  }

}