@import "common.scss";

.TaskEdit {
    background: #fff;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;

    &__row {
        margin-bottom: 10px;
        width: 100%;

        &--buttons {
            margin-bottom: 20px;
            text-align: right;

            button {
                background-color: $primary-light;
                border: 1px solid $primary-light;
                border-radius: 2px;
                color: $gray-very-light;
                padding: 5px 13px;
            }
        }
    }

    &__save-btn {
        margin-right: 20px;
    }

    &__task-title {
        border: 0;
        border-bottom: 1px solid $primary-light;
        width: 100%;
    }

    &__task-desc {
        height: 200px;
        width: 100%;
    }
}